entrypoint = "README.md"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[agent]
stack = "EXPO"

[deployment]
deploymentTarget = "static"
publicDir = "static-build"
build = ["node", "scripts/build.js"]

# Expo manifest headers
[[deployment.responseHeaders]]
path = "/*"
name = "expo-protocol-version"
value = "1"

[[deployment.responseHeaders]]
path = "/*"
name = "expo-sfv-version"
value = "0"

[objectStorage]
defaultBucketID = "replit-objstore-c2f99fb2-5d41-4728-a16f-d0eb66c05797"

[userenv]

[userenv.shared]
REDIS_REST_API_READONLY = "AkUHAAIgcDIq2OadEkSPb-Lpwh_xBKdpwYowlnvXOujQ4Uyrly5jmA"
REDIS_URL = "rediss://default:AUUHAAIncDJmM2ZlMTUwMjA2YTg0MzA0YTQ4MmEyY2E1NTQ5MjU1NnAyMTc2NzE@suitable-raven-17671.upstash.io:6379"
GOOGLE_RECAPTCHA_SITE_KEY = "6LdS7oIrAAAAACZ94jq80_tm4eQpVTnCVydRLcF9"
HCAPTCHA_SITE_KEY = "e09264cc-86c0-413c-a6f6-8d629ed671c0"
STRIPE_TEST_PUSHABLE_SECRET = "pk_test_51SnpmjGR4O94PwZMsbm9qlF95uJWM4wiLgt7IA6NEPlKpgFinwGgMvAFPpZGq4M17YLIzKhPxM3BxZEaxZwlgYBJ004tGDDZ9f"
